*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

.auth-page{

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 1fr;

    background:#09090B;

}

.auth-left{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px;

    background:radial-gradient(circle,#312E81 0%,#09090B 75%);

}

.brand{

    max-width:500px;

}

.brand h1{

    font-size:58px;

    margin-bottom:20px;

}

.brand p{

    color:#C4C4C4;

    line-height:1.8;

    font-size:18px;

}

.auth-right{

    display:flex;

    justify-content:center;

    align-items:center;

}

.auth-card{

    width:430px;

    background:#18181B;

    border:1px solid #27272A;

    border-radius:24px;

    padding:40px;

}

.auth-card h2{

    margin-bottom:10px;

}

.auth-card p{

    color:#A1A1AA;

    margin-bottom:28px;

}

.input-box{

    display:flex;

    align-items:center;

    gap:12px;

    background:#111827;

    border:1px solid #27272A;

    border-radius:14px;

    padding:15px;

    margin-bottom:18px;

}

.input-box input{

    width:100%;

    background:none;

    border:none;

    outline:none;

    color:white;

}

.input-box svg{

    color:#818CF8;

}

.auth-btn{

    width:100%;

    padding:16px;

    border:none;

    border-radius:14px;

    background:#6366F1;

    color:white;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.auth-btn:hover{

    background:#818CF8;

}

.switch-auth{

    text-align:center;

    margin-top:25px;

    color:#A1A1AA;

}

.switch-auth button{

    background:none;

    border:none;

    color:#818CF8;

    cursor:pointer;

}

.back-home{

    display:block;

    text-align:center;

    margin-top:20px;

    color:#818CF8;

}

@media(max-width:900px){

.auth-page{

grid-template-columns:1fr;

}

.auth-left{

display:none;

}

.auth-card{

width:90%;

}

}